.heading-primary {
    font-size: 4rem;
    font-weight: 300;
    color: $color-primary;
}

.heading-secondary {
    font-size: 4rem;
    text-align: center;
}

a.svg {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

//Contact form 7 erros

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: none !important;
    text-align: center;
    color: $color-primary;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    border: none !important;
    text-align: center;
    color: $color-primary;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    border: none !important;
    text-align: center;
    color: $color-primary;
}

div.wpcf7-response-output {
    padding: 0 !important;
    margin: 0;
    margin-top: 15px;
}

ul {
    li {
        font-size: 1.6rem;
    }
}

.wrapper {
    max-width: 1400px;
}


.page-id-12 {
    .slider  {
        &__top-content {
           p {
               max-width: 100%;
           } 
        }
    }
}

.flex-partners {
    display: flex;
    flex-wrap: wrap;
}

div.wpcf7-mail-sent-ok {
    border: none;
    text-align: center;
}

.wpcf7-form .wpcf7-submit {
    margin-bottom: 3rem;
}

.years-walked {
font-size: 1.6rem;
padding: 2rem;
border: none;
border-bottom: 2px solid $color-primary;
color: $black;
width: 50%;
display: block;
}

.full-width-column-years {
    display: block;
    .wpcf7-checkbox {
        .wpcf7-list-item {
            max-width: 180px;
            width: 100%;
            display: block;
            .wpcf7-list-item-label {
                font-size: 1.5rem;
                margin-top: -21px;
                display: block;
                padding-bottom: 1rem;
                max-width: 110px;
            }
            &.first {
                margin-top: 3rem;
            }
        }
    }
}