//COLOURS
$color-primary: #c6132f;
$color-secondary: #58595b;
$color-tertiary: #58595b;
$footer-color: #414042;
$white: #FFF;
$black: #000;
$light-grey: #ddd;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


@font-face {
    font-family: "Proxima";
    src: url("../fonts/ttf/ProximaNova-Regular.ttf");
    }

//FONTS
$font: 'Montserrat', sans-serif;